.container {
    max-width: 800px;
    margin: 10px auto;
    background-color: transparent;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
    text-align: center;
}
h1 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 30px;
}
.features {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.feature {
    width: 30%;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.feature h3 {
    color: #343a40;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.feature p {
    font-size: 1rem;
    color: #666;
}
.carousel-inner {
    border-radius: 10px;
}
.carousel-item {
    text-align: center;
}
.carousel-caption {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}
.carousel-caption h3 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.carousel-caption p {
    color: #fff;
    font-size: 1.1rem;
}
.cta {
    margin-top: 30px;
}
.cta a {
    display: inline-block;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
}

      /* Ocultar os textos "Próximo" e "Anterior" */
      .carousel-control-prev .sr-only,
      .carousel-control-next .sr-only {
          display: none;
      }
      
       /* Estilo para as setas de navegação */
       .carousel-control-prev-icon,
       .carousel-control-next-icon {
           background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
           border-radius: 50%; /* Deixa as setas circulares */
           padding: 10px; /* Espaçamento interno */
       }

       /* Efeito de animação ao passar o mouse */
       .carousel-control-prev:hover .carousel-control-prev-icon,
       .carousel-control-next:hover .carousel-control-next-icon {
           transform: translateY(-10px); /* Move a seta 10px para cima */
           background-color: rgba(0, 0, 0, 0.7); /* Muda a cor de fundo */
           transition: transform 0.3s ease, background-color 0.3s ease; /* Animação suave */
       }
       